img {
  border-radius: 20%;
  width: 200px;
  height: 200px;
  box-shadow: 3px 3px 3px rgb(214, 163, 114);
}
hr{
  border-radius: 20px;
}
.cake {
  border-radius: 60%;
  width: 200px; 
  height: 200px;
  box-shadow: 5px 5px 15px rgb(214, 163, 114);
  border: 7px solid #fff0e0;
 
}
.cake:hover{
  transform: scale(1.1);
  transition:  0.5s;
  
}

.header {
  background-color: #fff0e0;
  border-bottom: 3px solid #ffcbcb;
  box-shadow: 3px 3px 3px rgb(214, 163, 114);
  border-radius: 500px;
}

.header h1 {
  color: #5a3e36;
   width: auto; 
  
}


 .nav_menu {
    display: inline-flex;
    padding: 10px 20px; 
    gap: 20px; 
    box-shadow: 3px 3px 3px rgb(214, 163, 114); 
    border-radius: 100px;
  background-color: #ffdddd;

}

.nav_menu a {

  color: #d25656;
  padding: 5px;
  margin: 5px;
  text-decoration: none;  
  transition: 0.5s;


}

.nav_menu a:hover {
  background-color: #ffffff;
  color: #fff0e0;
  border-radius: 100px;
  font-size: larger;
}

body {
  background-color: #fff0e0;
 color:#5a3e36;
  text-align: center;
  
}

header {
  background-color: #FFDCDC;
  padding: 15px;
}


.custom-cake input{
  height: 30px;
width: 300px;
border-radius: 10px;

}
.custom-cake{
  
  background-color: #fffaf3;
  border:5px solid#ffecdb;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
font-size: larger;
box-shadow:  4px 8px 3px  #5a3e36 ;

}

button:hover {

  background-color:  #b2504c;
    transition: 0.5s; 
box-shadow:3px 3px 3px rgb(178, 80, 76); 
    border-radius: 100px;
    font-size: large;


}


button {
  background-color: #f5a9b8;
  color: rgb(255, 255, 255);
  border: none;
  
  padding: 10px 15px;
  border-radius: 100px;

}
button .a {
  text-decoration: none; 
  color: white;  
   border-radius: 100px;     
  padding: 10px 20px;   

    
 
}


footer {
  margin-top: 20px;
  background-color: #fcd7df;
  padding: 10px;
}
ul{

    color: #000000;
}

.menu .item {
  display:inline-table;
  width: 20%;
  margin: 20px;
  

}

img.c{
  width: 120px;
  height: 120px;
border-radius: 60%;
box-shadow:3px 3px 3px #b2504c; 


}

img.c:hover,
img.s:hover,
img.v:hover {
  transform: scale(1.1);
  transition:  0.3s;
   text-decoration: none;  
}
a {
  text-decoration: none;
  color: #000000; 
}


input, textarea {
  transition: 0.3s ease-in-out;
  border: 2px solid #ffdddd;
}


input:focus, textarea:focus {
  outline: none;
  box-shadow: 0 0 10px #bc5454;
  transform: scale(1.02);
}

input {
  height: 40px;
  width: 300px;
  border-radius: 20px;
}

textarea {
  width: 500px;
  height: 200px;
  border-radius: 20px;
}

label {
  font-size: larger;
}



.avatars div {
display: inline-block;
 margin: 30px;

}

.avatars img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px rgb(214, 163, 114);
}

.avatars p {
font-size: larger;
  color: #a6655d;
}

img.avtr:hover{
 transform: scale(1.1);
  transition:  0.3s;
   text-decoration: none; 

}




header {
  text-align: center;
  margin-bottom: 30px;
}

header h1 {
  margin: 0;
  font-size: 2rem;
  color: #a6655d;
}



ul li {
  margin-bottom: 10px;
  color: #5a3e36;
}



img, .cake, .avatars img {
  transition: 0.5s;
}
img:hover, .cake:hover, .avatars img:hover {
  transform: scale(1.05);
}


body{
  opacity: 0;
  animation: appear 1.0s forwards;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}